.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__messages {
    height:  calc(100% - 64px);
    overflow-y: scroll;
  }

  &__message {
    &-right {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.container {
  height: 100%;
}