.message-bubble {
  width: fit-content;
  max-width: 30%;

  &__bubble {
    &-left {
      border-radius: .7rem;
      background-color: rgb(34, 122, 255);
      padding: 8px 16px;
      border-bottom-left-radius: 0;
    }

    &-right {
      border-radius: .7rem;
      background-color: rgb(69, 209, 41);
      padding: 8px 16px;
      border-bottom-right-radius: 0;
    }
  }

  &__username {
    padding: 8px 0 4px 8px;
  }

  &__message {
    color: white;
  }
}